*.unity binary diff=unity
*.prefab binary diff=unity
*.asset binary diff=unity
Assets/_Scenes/scene2/LightingData.asset filter=lfs diff=lfs merge=lfs -text
C:\UnityStuff\_DATA\HeroesSiege2017\Assets\UIElements\background\Arena_02_big_size.jpg filter=lfs diff=lfs merge=lfs -text
C:\UnityStuff\_DATA\HeroesSiege2017\Assets\UIElements\Interface3.0\Avatar[[:space:]]Heroes\Artwork_Archer_décor02.jpg filter=lfs diff=lfs merge=lfs -text
C:\UnityStuff\_DATA\HeroesSiege2017\Assets\UIElements\Interface3.0\Avatar[[:space:]]Heroes\Artwork_Druide_03_2300x1625[[:space:]](1).jpg filter=lfs diff=lfs merge=lfs -text
C:\UnityStuff\_DATA\HeroesSiege2017\Assets\UIElements\Interface3.0\Avatar[[:space:]]Heroes\Artwork_Warrior_casque.jpg filter=lfs diff=lfs merge=lfs -text
